# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
.env/
.venv/

# Environment variables
.env

# VS Code settings
.vscode/

# Distribution / packaging
build/
dist/
*.egg-info/

# PyInstaller
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Test and coverage
htmlcov/
.tox/
.nox/
.coverage
coverage.xml
.cache
.pytest_cache/

